menu "Bk_player"
	config PLAYER
		bool "Enable PLAYER"
		default n

	choice PLAYER_USE_MEMORY
		depends on PLAYER
		prompt "Select Player use memory"
		default PLAYER_USE_PSRAM

		config PLAYER_USE_SRAM
			bool "Enable player use sram"
			help
				player use sram memory

		config PLAYER_USE_PSRAM
			depends on PSRAM
			bool "Enable player use psram"
			help
				player use psram memory
	endchoice

	config PLAYER_ENABLE_SOURCE_NET
		depends on PLAYER
		bool "Enable Source Net"
		default n

	config PLAYER_ENABLE_CODEC_MP3
		depends on PLAYER
		bool "Enable Codec MP3"
		default n

	config PLAYER_ENABLE_SINK_ONBOARD_SPEAKER
		depends on PLAYER && AUDIO_DAC
		bool "Enable Sink Device"
		default y

	config PLAYER_ENABLE_SINK_VOICE_SPEAKER
		depends on PLAYER && AUD_INTF_SUPPORT_MUSIC_SPK_SOURCE
		bool "Enable write speaker data to aud_intf component, and aud_intf play speaker data in voice mode"
		default y

	config PLAYER_TEST
		depends on PLAYER
		bool "Enable Player Test"
		default n

    config PA_MUTE_EN
        bool "Enable PA mute"
        default n

    config MUTE_PIN
        depends on PA_MUTE_EN
        int "pa mute gpio"
        range 0 47
        default 8

    config MUTE_LEVEL
        depends on PA_MUTE_EN
        int "pa mute valid level"
        range 0 1
        default 0

    config PLAYER_READ_DATA_TIMEOUT_MS
        depends on PLAYER
        int "Config layer read data timeout(ms)"
        range 100 60000
        default 3000
	    help
            Player will automatically stop and report event when player read data timeout. The timeout duration must be a multiple of 100ms.

endmenu
