menu "Beken_Genie Project Configuration"
    config LDO3V3_ENABLE
        bool "Enabel LDO_3V3"
        default n

    config LDO3V3_CTRL_GPIO
        depends on LDO3V3_ENABLE
        int "Set LDO_3V3 Control Gpio"
        range 0 100
        default 52

    config NETWORK_AUTO_RECONNECT
        bool "Enable auto reconnect Network"
        default y

    config LCD_SPI_REFRESH_WITH_QSPI_MAPPING_MODE
        bool "Enabel LCD_SPI_REFRESH_WITH_QSPI_MAPPING_MODE"
        default y

    config LCD_SPI_BACKLIGHT_PIN
        int "Set LCD SPI backlight pin"
        default 43

    config LCD0_SPI_RESET_PIN
        int "Set LCD QSPI TE pin"
        default 40

    config LCD0_SPI_DC_PIN
        int "Set LCD QSPI TE pin"
        default 25

    config LCD1_SPI_RESET_PIN
        int "Set LCD QSPI TE pin"
        default 41

    config LCD1_SPI_DC_PIN
        int "Set LCD QSPI TE pin"
        default 5

    config IMAGE_MAX_WIDTH
        int "Set pipeline decode max image width"
        default 320
        
endmenu
