menu "LCD"
	config LCD
		bool "Enable LCD"
		default n

	config LCD_QSPI
		depends on QSPI
		bool "Enable LCD QSPI"
		default n

	config LCD_QSPI_DEVICE_NUM
		depends on LCD_QSPI
		int "Set lcd qspi device number"
		default 1

	config LCD_QSPI_COLOR_DEPTH_BYTE
		depends on LCD_QSPI
		int "Set lcd qspi color depth"
		default 2
		help
			2 - RGB565
			3 - RGB888

	config LCD_QSPI_TE
		bool "Enable LCD QSPI TE"
		default n

	config LCD_POWER_GPIO_CTRL
		bool "Enable lcd power gpio ctrl"
		default n

	config LCD_BACKLIGHT_GPIO_CTRL
		bool "Enable lcd backlight gpio ctrl"
		default n

	config LCD_SPI
		bool "Enable LCD SPI"
		default n

	config LCD_SPI_DEVICE_NUM
		depends on LCD_SPI
		int "Set lcd spi device number"
		default 1

	config LCD_SPI_TE
		bool "Enable LCD SPI TE"
		default n
endmenu