#TODO remove all kconfigs which are defined in armino libs

menu "LingXin_AI_IoT_VoiceChatEngine"

	config LINGXIN_AI_EN
		bool "Enable LingXin AI"
		default n
		help
			Enable LingXin AI
	config AUDIO_BUFFER_CUSTOM_ENABLE
		depends on LINGXIN_AI_EN
		bool "Enable Audio Buffer Play"
		default y
		help
			Enable Audio Buffer
	config RECORD_CUSTOM_ENABLE
		depends on LINGXIN_AI_EN
		bool "Enable Record Buffer"
		default y
		help
			Enable Record Buffer
	config ENABLE_LINGXIN_COSTOM_AUTH
		bool "Enable LingXin Costom Auth"
		default n
		help
			Enable LingXin Costom Auth
endmenu
